<mat-toolbar>
    <mat-toolbar-row>
        <span class="flex-container">
            <button mat-button
                    aria-label="Title"
                    (click)="navigateHome()"
            >
            Push Ups
        </button>
        <span class="spacer"></span>
        <button mat-icon-button
                aria-label="Add a new workout"
                (click)="navigateAdd()"
        >
            <mat-icon>add</mat-icon>
        </button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
